<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F9FAFC">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>

            <div class="inset">
                <h5>Are you sure you want to delete this todo ?</h5>
            </div>

            <div class="modal-footer" style="background-color: #F9FAFC">
                <button type="button" class="btn btn-default" ng-click="$hide()">No</button>
                <button type="button" class="btn btn-success" ng-click="deleteToDo(idx, true);$hide()" ng-disabled="message.Message.length < 1">Yes</button>
            </div>
        </div>

    </div>
</div>
